.dropdown {
    margin: 0 0 10px;
}

.eventsLog {
    width: 100%;
    background-color: #cde364;
	border-top: 2px dotted #999;
	border-bottom: 2px dotted #999;
	margin-bottom: 5px;
    height: 42px;
}

.eventBox {
    font-size: 10px;
    float: left;
    margin: 1px;
    height: 38px;
    border: 1px dotted #ccc;
    width: 55px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
}

.eventButtonContainer {
    padding-right: 0px;
    margin-bottom: 10px;
}

.event-male {
    color: #3366cc;
}

.event-female {
    color: #ff66cc;
}

.btn-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
}

.btn-event {
    background-color: #006633;
    color: white;
    padding-right: 38px;
}

.btn-undo {
    background-color: red;
    color: white;
    padding-right: 38px;
}

.btn-male {
    background-color: #3366cc;
    color: white;
}
.btn-female {
    background-color: #ff66cc;
    color: white;
}

.btn-edit {
    background-color: #ff3333;
    color: white;
}

.btn-disabled {
    background-color: #999999;
}

.btn-return {
    margin-bottom: 20px;
}

.remove-icon {
    margin-right: 2px;
    color: #ff3333;
}

.scheduleTable {
    border-spacing: 2px;
    border-collapse: separate;
}

.masonry1 { /* Masonry container */
    column-count: 1;
    column-gap: 10px;
}

.masonry2 { /* Masonry container */
    column-count: 2;
    column-gap: 10px;
    margin-top: 5px;
}

.item { /* Masonry bricks or child elements */
    background-color: #eee;
    display: inline-block;
    margin: 0 0 12px;
    width: 100%;
}

.table-stats {
    font-size: 8pt;
}

.table-stats thead tr th, .table-stats tbody tr td {
    text-align: right;
}

.table-stats thead tr th.player-name, .table-stats tbody tr td.player-name {
    text-align: left;
}

.gameChart {
    height: 400px;
}

.legendList {
    display: inline;
    list-style-type: none;
}

.legendItem {
    display: inline;
    margin-right: 10px;
}

.custom-tooltip {
    width: 250px;
    margin: 0;
    line-height: 24px;
    border: 1px solid #333333;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 10px;
}
.custom-tooltip .label {
  margin: 0;
  color: #666;
  font-weight: 700;
  font-size: 10pt;
}
.custom-tooltip  .desc {
  margin: 0 0 0 10px;
  color: #999;
  font-size: 8pt;
  
}