.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/*
.column {
  background-color: rgba(86, 61, 124, .1)
}
*/

.button {
  margin: 3px;
  width: 95%;
}

.dropdown {
  margin: 0px;
  padding: 0px;
  height: 200px;
}