.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

select.ui.dropdown {
  height: 28px;
  padding: 2px;
}

.actionButton {
  width: 60px;
}

.ui.blue.button.playerButton, .ui.pink.button.playerButton {
  margin-bottom: 5px;
  height: 42px;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 11px;
  white-space: nowrap;
}

.rightButton {
  width: 80px;
}

.scoreboardDiv {
  border: 1px solid #ccc!important;
  margin: 5px;
  height: 60px;
}

.ui.button {
  margin-bottom: 2px;
}

.ui.grid>.column:not(.row) {
  padding-bottom: 0;
}

.ui.grid>*, .ui.grid>.column:not(.row), .ui.grid>.row>.column {
  padding-left: 2px;
  padding-right: 2px;
}
