.dropdown {
    margin: 0 0 10px;
}

.eventsLog {
    width: 100%;
    background-color: #cde364;
	border-top: 2px dotted #999;
	border-bottom: 2px dotted #999;
	margin-bottom: 5px;
    height: 42px;
}

.eventBox {
    font-size: 10px;
    float: left;
    margin: 1px;
    height: 38px;
    border: 1px dotted #ccc;
    width: 55px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
}

.eventButtonContainer {
    padding-right: 0px;
}

.event-male {
    color: #3366cc;
}

.event-female {
    color: #ff66cc;
}

.btn-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
}

.btn-event {
    background-color: #9966cc;
    color: white;
}

.btn-male {
    background-color: #3366cc;
    color: white;
}
.btn-female {
    background-color: #ff66cc;
    color: white;
}

.btn-edit {
    background-color: #ff3333;
    color: white;
}

.remove-icon {
    margin-right: 2px;
    color: #ff3333;
}

.scheduleTable {
    border-spacing: 2px;
    border-collapse: separate;
}

.masonry1 { /* Masonry container */
    column-count: 1;
    column-gap: 10px;
}

.masonry2 { /* Masonry container */
    column-count: 2;
    column-gap: 10px;
}

.item { /* Masonry bricks or child elements */
    background-color: #eee;
    display: inline-block;
    margin: 0 0 12px;
    width: 100%;
}