.dropdown {
    margin: 0 0 10px;
}

.scheduleTable {
    border-spacing: 2px;
    border-collapse: separate;
}

.masonry { /* Masonry container */
    column-count: 2;
    column-gap: 10px;
}

.item { /* Masonry bricks or child elements */
    background-color: #eee;
    display: inline-block;
    margin: 0 0 10px;
    width: 100%;
}